{% extends "base.html" %}

{% block content %}
<h1 class="mb-4 text-center">Nutriplex</h1>

<form id="recipeForm" method="post" class="mb-4" action="{% url 'send_to_openai' %}">
    {% csrf_token %}
    
    {% for category in categories %}
    <div class="card mb-3">
        <div class="card-header text-center" data-bs-toggle="collapse" href="#collapseItems{{ category.id }}" role="button" aria-expanded="false" aria-controls="collapseItems{{ category.id }}">
            <h2 class="category-weight">{{ category.name }}</h2>
        </div>

        <div class="collapse" id="collapseItems{{ category.id }}">
            <div class="card-body">
                <div class="row">
                    {% for item in category.item_set.all %}
                    <div class="col-12 col-sm-6 col-md-4 mb-2">
                        <div class="d-grid btn-width">
                            <label class="btn btn-outline-secondary btn-width {% if item.name in selected_items %}active{% endif %}">
                                {{ item.name }}
                                <input type="checkbox" class="d-none" name="{{ category.name }}" value="{{ item.name }}" id="{{ item.name }}" {% if item.name in selected_items %}checked{% endif %} autocomplete="off">
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <div class="text-center">
        <button id="submitButton" type="submit" class="btn btn-primary text-center btn-action btn-nutri-color">Obtener Receta</button>
    </div>
</form>

<div class="modal" tabindex="-1" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-success spinner-nutri-color" role="status">
                    <span class="visually-hidden">Generando Receta</span>
                </div>
                <div>
                    <h3>Generando Receta</h3>
                    <p>Esto puede tardar unos segundos...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="validationModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atención</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>No has seleccionado ningún ingrediente, por favor selecciona al menos uno.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}